<h1>Manage Order</h1>
<% Order.all.each do |order| %>
    <div class="order-number">Order Number: <%= order.order_number %></div>
    <div class="final-destination">
        To: 
        <%= order.final_destination_address_line_1 %>,
        <%= order.final_destination_address_line_2 %>,
        <%= order.final_destination_city %>,
        <%= order.final_destination_postcode %>
    </div>
    <% if current_user.currier? && order.order_status == "Accepted" %> 
        <%= button_to "Begin", begin_order_path(order), method: :patch, class: "btn btn-primary" %>
    <% end %>

    <% if current_user.currier? && order.order_status == "InProgress" %>
        <%= button_to "Cancel", cancel_order_path(order), method: :patch, class: "btn btn-primary"%>
    <% end %>

    <%= form_with(model: @order, url: cancel_order_order_path(@order), method: :put) do |form| %>
    <%= form.label :cancellation_reason %>
    <%= form.text_area :cancellation_reason %>
    <%= form.submit 'Cancel Order' %>
    <% end %>

    <% if current_user.currier? && order.order_status == "InProgress" %>
        <%= button_to "Complete", complete_order_path(order), method: :patch, class: "btn btn-primary" %>
    <% end %>
<% end %>



