<h1>Order Confirmation</h1>
<%= stylesheet_link_tag 'confirmation', media: 'all', 'data-turbolinks-track': 'reload' %>

<p>Your order (Order Number: <%= @order.order_number %>) has been created successfully:</p>
<ul>
  <li>Start destination: <%= @order.start_destination %></li>
  <li>Final destination: <%= @order.final_destination %></li>
  <li>Quantity: <%= @order.quantity %></li>
  <li>Goods type: <%= @order.goods_type %></li>
  <li>Additional details: <%= @order.additional_details %></li>
  <%= link_to 'View My Orders', order_path(@order), class: 'btn btn-primary' %>

</ul>