<%= form_for Order.new, url: costcalculator_orders_path do |f| %>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity, min: 1 %>
  </div>
  <div class="field">
    <%= f.label :weight %>
    <%= f.number_field :weight, min: 0 %>
  </div>
  <div class="field">
    <%= f.label :distance %>
    <%= f.number_field :distance, min: 0 %>
  </div>
  <%= f.submit 'Calculate Cost' %>
<% end %>

<p>Your order will cost <%= puts @cost %>.</p>