<!DOCTYPE html>
<html>
  <head>
    <title>Cost Calculator</title>
    <%= stylesheet_link_tag 'costcalculator', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="container">
      <h1>Cost Calculator</h1>
      <%= form_tag '/orders/costcalculator', method: :post do %>
        <div class="form-field">
          <%= label_tag :weight, 'Weight (in kg)' %>
          <%= number_field_tag :weight, nil, step: 0.01 %>
        </div>
        <div class="form-field">
          <%= label_tag :distance, 'Distance (in km)' %>
          <%= number_field_tag :distance, nil, step: 0.01 %>
        </div>
        <div class="form-field">
          <%= label_tag :quantity, 'Quantity' %>
          <%= number_field_tag :quantity, nil, min: 1 %>
        </div>
        <%= submit_tag 'Calculate cost' %>
      <% end %>

      <% if @cost.present? %>
        <p class="cost-info">The cost of your order is <%= number_to_currency(@cost, unit: '€') %>.</p>
      <% end %>
    </div>
  </body>
</html>

