<h1>New Order</h1>
<%= stylesheet_link_tag 'new', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'new' %>
<%= form_for @order do |f| %>
  <div class="form-group">
    <%= f.label :start_destination, "Pick-up point details" %>
    <%= f.text_field :start_destination_address_line_1, class: 'form-control', placeholder: 'Address line 1' %>
    <%= f.text_field :start_destination_address_line_2, class: 'form-control', placeholder: 'Address line 2' %>
    <%= f.text_field :start_destination_city, class: 'form-control', placeholder: 'City' %>
    <%= f.text_field :start_destination_postcode, class: 'form-control', placeholder: 'Postcode' %>
  </div>
  <div class="form-group">
    <%= f.label :final_destination, "Drop-off point details" %>
    <%= f.text_field :final_destination_address_line_1, class: 'form-control', placeholder: 'Final address line 1' %>
    <%= f.text_field :final_destination_address_line_2, class: 'form-control', placeholder: 'Final address line 2' %>
    <%= f.text_field :final_destination_city, class: 'form-control', placeholder: 'Final destination city' %>
    <%= f.text_field :final_destination_postcode, class: 'form-control', placeholder: 'Final destination postcode' %>
  </div>
  <div class ="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: 'form-control', placeholder: 'Number of items' %>
  </div>
  <div class="form-group">
    <%= f.label :goods_type, "Goods Type" %>
    <%= f.text_field :goods_type, class: 'form-control', placeholder: 'Type of item' %>
  </div>
  <div class="form-group">
    <%= f.label :additional_details %>
    <%= f.text_area :additional_details, class: 'form-control', placeholder: 'Anything the currier should be aware of?' %>
  </div>
  <% if flash[:success] %>
    <div class="alert alert-success">
      <%= flash[:success] %>
    </div>
  <% end %>
  <%= f.submit 'Submit', class: 'btn btn-primary', type: 'submit' %>
  
<% end %>

