<!DOCTYPE html>
<html>
<head>
  <h1>Orders list</h1>
  <%= stylesheet_link_tag 'show', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="search-container">
    <h1>Seach for an order</h1>
    <%= form_tag(search_orders_path(current_user.orders), method: "get") do %>
      <%= label_tag(:order_number, "Enter Tracking Number:", class: "search-label") %>
      <%= text_field_tag(:order_number, nil, class: "search-field") %>
      <%= submit_tag("Search", class: "search-button") %>
      <% puts 'order found'%>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>
  </div>
  <% @order = current_user.orders %>
  <% @order.each do |order| %>
    <% if ["Pending", "Accepted", "InProgress"].include?(order.order_status) %>
      <div class="receipt">
        <div class="order">
          <div class="header">
            <div class="order-number">Order Number: <%= order.order_number %></div>
            <div class="order-date">Order Created On: <%= order.created_at.strftime('%d %b %Y') %></div>
          </div>
          <div class="body">
            <div class="details">
              <div class="start-destination">
                From: 
                <%= order.start_destination_address_line_1 %>,
                <%= order.start_destination_address_line_2 %>,
                <%= order.start_destination_city %>,
                <%= order.start_destination_postcode %>
              </div>
              <div class="final-destination">
                To: 
                <%= order.final_destination_address_line_1 %>,
                <%= order.final_destination_address_line_2 %>,
                <%= order.final_destination_city %>,
                <%= order.final_destination_postcode %>
              </div>
              <div class="quantity">Quantity: <%= order.quantity %></div>
              <div class="goods-type">Goods Type: <%= order.goods_type %></div>
              <% if order.additional_details.present? %>
                <div class="additional-details">Additional Details: <%= order.additional_details %></div>
              <% end %>
            </div>
            <div class="status">
              Status: <%= order.order_status %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</body>
</html>
